body{
	font-family: Playball;
}

nav {
	text-align: center;
	border-bottom: 2px solid #46413e;
	padding-bottom: 1%;
	padding-top: 1%;
	margin-bottom: 20px;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}

.loginForm {
	text-align: center;
}

.linkDiv {
	display: inline-block;
	margin-right: 30px;
}

#container {
	/*box-sizing: border-box;*/
	width: 70%;
	height: 90%;
	/*text-align: center;*/
	padding-top: 5%;
	padding-bottom: 5%;
	background-color: #dbd8d6;
	/*margin-top: 10px; */
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
}

.homediv {
	font-size: 40px;
}

input, textarea, select, option {
	font-family: Playfair Display;
	color: black;
	background-color: white;
	padding:0 3px 0 3px;
	margin-bottom: 15px;
	width: 20%;
	height: 25px;
	font-size: 15px;
	border: 1px solid black;
}

select {
	display: inline-block;
	padding-left: 50px;
	font-size: 15px;
	width: 18%;
	margin-left: 150px;
}

label {
	font-size: 30px;
}

a {
	font-size: 20px;
	text-decoration: none;
	color: black;
}

a:hover {
	color: #54565f;
	text-decoration: underline;
}

button {
	font-family: Playball;
	width: 8%;
	height: 35px;
	font-size: 23px;
	border: 1px solid black;
	color: black;
	background-color: white;
	margin-top: 10px;
}

button:hover {
	color: white;
	background-color: black;
	border: 1px solid white;
}

p {
	font-family: Playfair Display;
}

.errorText {
	font-family: Playfair Display;
	color: red;
	font-size: 18px;
	margin-bottom: 10px;
}

.postBody, .postTitle {
	font-size: 18px;
	text-align: left;
	font-family: Playfair Display;
	margin-bottom: 25px;
}

.postTitle {
	font-family: Playball;
	font-size: 50px;
}

.titleDiv, .postDiv, .postButton {
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}

.postDate, .postCat {
	font-size: 12px;
	display: inline-block;
	padding: none;
	margin: 10px 10px 0 10px;
	font-family: Playfair Display;
}

.postCat {
	font-size: 14px;
}

.postBodyInput {
	height: 150px;
	width: 400px;
}

.postListDiv {
	box-sizing: border-box;
	border-bottom: 1px solid #46413e;
	border-top: 1px solid #46413e;
	width: 80%;
	padding: 10px 60px 20px 60px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
	text-align: left;
}

.searchBtn {
	font-size: 16px;
	height: 25px;
	margin-left: 20px;
}

.searchBar {
	height: 21px;
	width: 150px;
}

.searchForm {
	text-align: center;
}