body {
  margin: 0;
  font-family: Futura, Helvetica, Arial, sans-serif;
  background-color: #F4F1F2; }

h1, h2, ul {
  margin: 0; }

h1 {
  color: black;
  font-size: 102px;
  text-align: center; }

a, .navlinks {
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 10px;
  color: #595959; }

a {
  text-transform: none; }

a:hover, a:focus {
  color: #595959;
  border-bottom: 1px solid #080808; }

#nav {
  padding: 10px 0;
  background-color: #F4F1F2;
  position: fixed;
  width: 100%; }
  #nav li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto; }

.hero, .about-hero, .contact-hero {
  background: url("../images/profileimg.jpg") fixed no-repeat;
  background-size: cover;
  background-position: 0% 200%;
  padding-top: 100px;
  padding-bottom: 300px;
  padding-left: 4%; }
  .hero .about-info, .about-hero .about-info, .contact-hero .about-info {
    color: black;
    font-size: 80px;
    text-align: left; }

.hero {
  background: url("../images/fisheye1.jpg") fixed no-repeat;
  padding-top: 200px;
  background-position: 0% 75%;
  padding-bottom: 200px; }

.contact-hero {
  background: url("../images/img5.jpg") fixed no-repeat;
  padding-top: 90px;
  padding-bottom: 310px;
  padding-right: 3%; }
  .contact-hero .contact-info {
    color: black;
    font-size: 80px;
    text-align: right; }

.container, footer {
  width: 960px;
  margin: 0 auto;
  padding: 50px 0;
  overflow: hidden; }

.left-col, .contact-left-col {
  width: 40%;
  float: left;
  color: #595959; }

.left-col p {
  line-height: 1.6; }

.right-col, .contact-right-col {
  width: 50%;
  float: right;
  margin-left: 10%; }

.contact-right-col {
  padding-top: 10px; }

.right-col img {
  width: 100%; }

.contact-left-col {
  text-align: right; }

.contact-icon {
  width: 50px; }

footer {
  /*background-color: #b1d4cd;
	overflow: hidden;*/ }
