$prime-color: #F4F1F2;
$text-color: #595959;
$link-color: #080808;

body {
	margin: 0;
	font-family: Futura, Helvetica, Arial, sans-serif;
	background-color: $prime-color;
}

h1, h2, ul {
	margin: 0;
}

h1 {
	color: black;
	font-size: 102px;
	text-align: center;
}

a, .navlinks {
	text-decoration: none;
	text-transform: uppercase;
	margin: 0 10px;
	color: $text-color;
}

a {
	text-transform: none;
}

a:hover, a:focus {
	color: $link-color;
	border-bottom: 1px solid $link-color;
}

p > a {
	margin: 0;
}

#nav {
	padding: 10px 0 ;
	background-color: $prime-color;
	position: fixed;
	width: 100%;

	li {
		display: inline-block;
		vertical-align: middle;
		margin: 0 auto;
	}
}

.hero, .about-hero, .contact-hero {
	background: url('../images/profileimg.jpg') fixed no-repeat;
	background-size: cover;
	background-position: 0% 200%;
	padding-top: 100px;
	padding-bottom: 300px;
	padding-left: 4%;

	.about-info {
		color: black;
		font-size: 80px;
		text-align: left;
	}
}

.hero {
	background: url('../images/fisheye1.jpg') fixed no-repeat;
	padding-top: 200px;
	background-position: 0% 75%;
	padding-bottom: 200px;
}

.contact-hero {
	background: url('../images/img5.jpg') fixed no-repeat;
	padding-top: 90px;
	padding-bottom: 310px;
	padding-right: 3%;

	.contact-info {
		color: black;
		font-size: 80px;
		text-align: right;
	}
}

.container, footer {
	width: 960px;
	margin: 0 auto;
	padding: 50px 0;
	overflow: hidden;
}

.left-col {
	width: 40%;
	float: left;
	color: $text-color;
}

.left-col p {
	line-height: 1.6;
}

.right-col {
	width: 50%;
	float: right;
	margin-left: 10%;
}

.right-col img {
	width: 100%;
}

footer {
	/*background-color: #b1d4cd;
	overflow: hidden;*/
}