body {
  margin: 0;
  font-family: Futura, Helvetica, Arial, sans-serif;
  background-color: #F4F1F2; }

h1, h2, ul {
  margin: 0; }

h1, .info {
  color: black;
  font-size: 102px;
  text-align: center; }

.info {
  font-size: 80px; }

a, .navlinks {
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 10px;
  color: #595959; }

a {
  text-transform: none; }

a:hover, a:focus {
  color: #595959;
  border-bottom: 1px solid #080808; }

#nav {
  padding: 10px 0;
  background-color: #F4F1F2;
  position: fixed;
  width: 100%; }
  #nav li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto; }

.hero, .contact-hero {
  padding-top: 150px;
  padding-bottom: 150px; }

.about-hero {
  background: url("../images/profileimg.jpg") fixed no-repeat;
  background-size: cover;
  background-position: 0% 150%;
  padding-top: 200px;
  padding-bottom: 200px; }

.container, footer {
  width: 960px;
  margin: 0 auto;
  padding: 50px 0;
  overflow: hidden; }

.left-col {
  width: 60%;
  float: left;
  color: #595959; }

.left-col p {
  line-height: 1.6; }

.right-col {
  width: 30%;
  float: right;
  margin-left: 10%; }

.right-col img {
  width: 100%; }

footer {
  /*background-color: #b1d4cd;
	overflow: hidden;*/ }
